<section class="hero is-fullheight is-medium is-primary is-bold">
  <div class="hero-head">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <% if session[:user_id] != nil %>
            <p><%= flash[:notice] %></p>
          <% end %>
          <div class="navbar-end">
          <% if session[:user_id] == nil %>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="user_login">
                <span>Sign in</span>
              </a>
            </span>
          <% end %>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="#">
                <span>Documents</span>
              </a>
            </span>
          <% if session[:user_id] != nil %>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="new_device">
                <span>New Device</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="users">
                <span>User</span>
              </a>
            </span>
          <% end %>
          </div>
        </div>
      </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Toba API Bintama Server
        </h1>
        <h2 class="subtitle">
          ようこそ、TABSへ。TABSはあなたのIoTユニットを使ったアプリケーションを構築することのできるAPIです。ドキュメントは誰でも読めますが、デバイスの登録、管理にはサインインが必要です。
        </h2>
    	</div>
  	</div>
	</div>
</section>
<script async type="text/javascript" src="application.js"></script>
