<section class="hero is-info is-fullheight">
  <div class="hero-head">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="#">
              	<span>Home</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="#">
                <span>Sign in</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="#">
                <span>Sigb up</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="#">
                <span>Documents</span>
              </a>
            </span>
          </div>
        </div>
      </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Toba Bintama API Server
        </h1>
        <h2 class="subtitle">
          ようこそ、TABSへ。TABSはあなたのIoTユニットを使ったアプリケーションを簡単に構築することのできるAPIです。デバイスの登録やドキュメントは別途定めてあります。
        </h2>
    	</div>
  	</div>
	</div>
</section>
<script async type="text/javascript" src="application.js"></script>
