// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_background {
	border-radius: 10px 20px 30px 40px;
  background-color:#00ced1;
}

.left {
	text-align: left
}

.container {
	position: relative;
}

.container .target {
	position: absolute;
}
